@import "tailwindcss";

:root {
  --bg-color: #0b131e;
  --bg-sec: #212d3f;
  --color: #dde0e4;
  --sec-color: #fbdc1f;
}

/*----Header-----*/
body {
  background-color: var(--bg-color);
  color: #ffffff;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
.header {
  height: 40px;
}
.logo {
  flex-basis: 1%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.31rem;
  color: #ffdd00;
}

.search {
  flex-basis: 86%;
}

@media screen and (min-width: 1200px) {
  .search {
    flex-basis: 88%;
  }
}
.search-input {
  background-color: var(--bg-sec);
  border-radius: 6px;
  width: 100%;
  height: 32px;
}
.search-input input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding-inline: 6px;
  font-size: 16px;
}
input:focus {
  outline: solid 1px #174bce;
}

.dropdownItem:hover {
  background-color: #eaeaf3;
  cursor: pointer;
}

.search-location button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: rgb(40, 232, 40);
}
.search-location button:hover {
  opacity: 0.6;
}

div .fa-solid {
  color: #fb2e1f;
}

main {
  width: 100%;
}

.tempAlert {
  font-size: 28px;
  color: rgb(235, 44, 44);
}

.dropdownHistory {
  width: clamp(10px, 82vw, 85%);
  background-color: white;
}

.valid {
  background-color: #fbfcfd;
  padding-block: 5px;
  margin-block: 15px;
  padding-left: 8px;
  color: rgb(7, 182, 7);
  border-radius: 4px;
}

.invalid {
  background-color: #fbfcfd;
  padding-block: 5px;
  padding-left: 8px;
  margin-block: 15px;
  color: rgb(235, 54, 54);
  border-radius: 4px;
}

.customAlert {
  display: none;
  background-color: red;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  left: 50%;
  top: 40vh;
  transform: translateX(-50%);
  width: 360px; /*360px*/
  height: 20vh;
  z-index: 10;
  border: solid 1px #ccc;
  border-radius: 10px;
  color: #0b131e;
  background-color: #fefeffc9;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crossBtn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7%;
  right: 5%;
  background-color: #e7e8ea;
  padding: 3px;
  border-radius: 40px;
  cursor: pointer;
}
.crossBtn:hover {
  opacity: 0.7;
}

@media screen and (max-width:738px) {
  .dropdownHistory {
    width: 77vw;
  }
}
/*main-container*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 740px) {
  .main-container {
    flex-direction: column;
    margin-inline: 3%;
    height: 100%;
    margin-bottom: 500px;
  }
}

/*section 1*/
.section-1 {
  flex-basis: 60%;
  box-sizing: border-box;
  z-index: -1;
}

/*--Head Section--*/
.section-1 .sec-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "country country weatherSymbol"
    "deg deg weatherSymbol";
  border: solid 1px #d9dce21e;
  border-radius: 15px;
  margin-bottom: clamp(1rem, 2.5vw, 3rem);
}

.sec-head .country {
  grid-area: country;
}

.sec-head .degC {
  grid-area: deg;
}

.sec-head .weatherSymbol {
  grid-area: weatherSymbol;
}
.weatherSymbol img {
  width: 190px;
}

/*--TodayWeather Section--*/
.section-1 .sec-todayW {
  background-color: var(--bg-sec);
  border-radius: 12px;
}

.sec-todayW .title {
  color: #d9dce2;
}

.sec-todayW .container {
  display: flex;
  flex-direction: row;
  width: clamp(400px, 49vw, 600px); /*400 49vw 600px*/
  box-sizing: border-box;
  overflow: auto;
}

.container .dayTime:nth-of-type(even) {
  border-left: solid 2px #293d5a;
  border-right: solid 2px #293d5a;
}

.container .dayTime:first-child {
  border: none;
}
.container .dayTime:last-child {
  border-right: none;
}

.container .dayTime {
  width: 20%;
}

.sec-todayW .container::-webkit-scrollbar {
  height: 3px;
  scroll-behavior: smooth;
}
.sec-todayW .container::-webkit-scrollbar-track {
  background-color: #f0f0f049;
  border-radius: 10px;
}
.sec-todayW .container::-webkit-scrollbar-thumb {
  background-color: #f0f0f048;
  border-radius: 10px;
  height: 3px;
  cursor: pointer;
}
.sec-todayW .container::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0af;
}

@media screen and (max-width:800px) {
  .sec-todayW .container {
    width: 100%;
    overflow-x: auto;
  }
  .container .dayTime {
    min-width: 120px;
    margin-bottom: 21px;
  }
}

@media screen and (min-width:800px) {
  .sec-todayW .container {
    overflow-x: auto;
  }
  .container .dayTime {
    min-width: 120px;
    margin-bottom: 21px;
  }
}
.dayTime .cTime {
  color: #aeb1b6;
}

/*--AirConditions Section--*/
.sec-wConditions {
  background-color: var(--bg-sec);
  width: 100%;
  margin-top: clamp(1rem, 2.5vw, 3rem);
  border-radius: 12px;
}

.sec-wConditions .title {
  color: #d9dce2;
}

.sec-wConditions .wConditions {
  max-width: 690px;
  height: 24vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  column-gap: 3rem;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding-right: 9px;
}

.sec-wConditions .wConditions::-webkit-scrollbar {
  width: 3px;
  scroll-behavior: smooth;
}
.sec-wConditions .wConditions::-webkit-scrollbar-track {
  background-color: #f0f0f049;
  border-radius: 10px;
}
.wConditions::-webkit-scrollbar-thumb {
  background-color: #f0f0f048;
  border-radius: 10px;
  height: 10px;
}

.wConditions .wType {
  width: 150px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: solid 1px #d9dce22d;
  padding: 12px;
  border-radius: 20px;
}

.col1 i {
  color: #aeb1b6;
}

.col2 .name {
  font-size: 14px;
  font-weight: 500;
  color: #aeb1b6;
}

.col2 .measure {
  font-size: 18px;
  font-weight: 600;
  color: #ecf1f5;
}

/*section-2*/
.section-2 {
  flex-basis: 36%;
  margin-top: 1.5rem;
  background-color: var(--bg-sec);
  border-radius: 12px;
  height: fit-content;
  z-index: -1;
}

@media screen and (max-width:1060px) {
  .section-2 {
    flex-basis: 40vw;
  }
  .section-1 {
    flex-basis: 54vw;
  }
}

.section-2 .title {
  color: #d9dce2;
}

.section-2 .sevenDayForecast {
  display: flex;
  flex-direction: column;
}

.sevenDayForecast .day:last-child {
  border: none;
}

.sevenDayForecast .day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #293d5a;
  height: 9vh;
}

.day .dayName {
  font-size: 16px;
  color: #aeb1b6;
  font-weight: 500;
  width: 54px;
}

.day .dayWType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: clamp(180px, 14vw, 200px);
}

@media screen and ((max-width:866px) and (min-width:740px)) {
  .day .dayWType {
    width: 14vw;
  }
  .dayWType .name {
    width: 70px;
    overflow-x: hidden;
  }
}

.dayWType .name {
  font-size: 16px;
  font-weight: 600;
  color: #ecf1f5;
}

.temp .f {
  font-size: 16px;
  font-weight: 600;
}
.temp .s {
  font-weight: 500;
}
